.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #667eea;
}

.login-card {
  background-color: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

.login-card h2 {
  color:black;
  text-align: center;
  /* margin-bottom: 20px;
  height: 10px; */
  width: 260px;
  padding: 10px;
}

.login-card input {
  width: 90%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-card button {
  width: 95%;
  padding: 10px;
  background-color: #667eea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}