.signup-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #43cea2;
}

.signup-card {
  background-color: white;
  padding: 25px;
  width: 340px;
  border-radius: 10px;
}

.signup-card h2 {
  text-align: center;
  margin-bottom: 20px;
  width: 260px;
  padding: 10px;
}

.signup-card input {
  width: 90%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.signup-card button {
  width: 90%;
  padding: 10px;
  background-color: #43cea2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}